<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <div id="main"></div>
    </body>
</html>
